<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!--<script type="text/javascript" src="vue.js"></script>-->
	</head>
	<style type="text/css">
		.BGtext{
			background-color:yellow;
		}
		.active {
			background-color: red;
		}
		/*原样式*/
		li{
			overflow: hidden;
		}
		
		li>input {
			display: none;
			color: red;
		}
		/*修改*/
		
		.deiting div.div1 {
			display: none;
		}
		
		.deiting input.inp1 {
			display: block;
		}
	</style>

	<body>
		<div>
			<div>
				<h2>任务列表</h2>
			</div>
		</div>
		<div class="main">
			<h3>添加任务</h3>
			<!--无参数用法-->
			<!--<input 
				@keyup.enter="addTodo" 
				v-model="todo"
				type="text" placeholder="输入" name="" id="" value="" />-->
			<!--有参数的用法-->
			<input @keyup.enter="addTodo(123,$event)" v-model="todo" type="text" placeholder="输入" name="" id="" value="" />
			<ul v-show="list.length">
				<!--filter语法返回值是数组-->
				<li>{{
					list.filter(function(item){
						return !item.isChecked
					}).length
				}}个任务未完成</li>
				<li>{{noCheckeLength}}个任务未完成</li>
				<li>
					<a href="#all" :class="{BGtext:visibility==='all'}">所有任务</a>
					<a href="#unfinished" :class="{BGtext:visibility==='unfinished'}">未完成的任务</a>
					<a href="#finished" :class="{BGtext:visibility==='finished'}">完成任务</a>
				</li>
			</ul>
			<h3>任务列表</h3>
			<div>
				<!--v-show true显示,false不现实,修改的是display属性  这里的判断条件是list.length 如果是0返回false-->
				<span v-show="!list.length">还没有添加任何任务</span>
				<ul id="mian">
					<li :class="{deiting:item===edtorTodos}" v-for="item in filteredList">
						<div class="div1">
							<input type="checkbox" v-model="item.isChecked" />
							<label @dblclick="edtorTodo(item)" :class="{active:item.isChecked}" for="">{{item.title}}</label>
							<button @click="delectTodo(item)">删除</button>
						</div>
						<input 
							v-focus="edtorTodos===item" 
							class="inp1" type="text" 
							v-model="item.title" 
							@blur="edtorTodoed(item)"
							@keyup.enter="edtorTodoed(item)"
							@keyup.esc="cancelTodo(item)"
							/>
					</li>
				</ul>
			</div>
		</div>
		<script src="../js/vue.js"></script>
		<script src="../js/app.js"></script>
	</body>

</html>